* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1rem; /* 1rem is equal to 16px by default */
}

body {
    background: linear-gradient(to bottom, #1C1E22 100%, #1B2029 100%);
    font-family: "Montserrat", sans-serif;
}

/* nav */

nav {
    z-index:10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5vw;
    gap: 2vw; /* Add gap between flex items for spacing */
}

#logo, #socials, #nav-links {
    flex: 1; /* Make each section take equal space */
}



#logo {
    margin-top: 3vh;
   
}
#logo img{
    transition: transform 0.5s ease; 
}

#logo img:hover {
    animation: spin 1s linear infinite; /* Apply the spin animation */
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#home, #portfolio, #contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}


#nav-links {
    display: flex;
    justify-content: center; /* Center the links within their section */
    gap: 8vw; /* Adjusted for responsiveness */
    font-weight: regular;
    font-size: 1rem;
    margin-top:3vh;
}

#nav-links a {
    text-decoration: none;
    color: #A9B9D3;
}

#socials {
    display: flex;
    justify-content: flex-end; /* Align socials to the right */
    gap: 1vw;
    margin-top: 3vh;
}

#nav-links a,#socials a{
    position: relative;
    color: #A9B9D3;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth scaling and color change */
}

#nav-links a::after, #socials a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5973F3; /* Underline color */
    left: 0;
    bottom: -2px;
    transform: scaleX(0); /* Start with the underline hidden */
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

#nav-links a:hover, #socials a:hover {
    transform: scale(1.1); /* Slightly increase size */
    color: #5973F3; /* Optional: Change text color on hover */
}

#nav-links a:hover::after, #socials a:hover::after {
    transform: scaleX(1); /* Reveal the underline */
    transform-origin: bottom left;
}

/* dropdown */



/* Style for the dropdown button */
.dropbtn img {
    width: 40px;
    cursor: pointer;
    display:none;
}

/* Hide dropdown content initially */
.dropdown-content {
    display: none;
  
}

/* Dropdown links styling */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show dropdown content when dropdown is active */
.show-dropdown {
    display: block;
}

.hide{
    display:none;
}
.show-details{
    display:grid;
    animation: detailfade .5s linear;
}
@keyframes detailfade {
    0% {
        opacity: 0;
        transform: translateX(50px); /* Start from above */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at the final position */
    }
}
.blur {
    filter: blur(5px);
}

/* title */
main {
    margin-top: 5rem;
}

#title {
    flex-grow: 1;
    text-align: center;
    margin-top: 3rem;
    animation: fadeInTop 1s ease forwards;
}

#title h1 {
    font-size: 5rem;
    color: #E7F0FF;
    text-transform: uppercase;
}

#title h3 {
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #5973F3;
    font-weight: 500;
}

/* Posts */

#posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
    gap:2rem;
    margin: 5rem 10rem 2rem;
    align-items: center;
}

#post1 {
    border-radius: 1.25rem; /* 20px */
    width: 30rem;
    background-color: rgba(34, 38, 47, 0.5);
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(-20px); /* Move up slightly */
    animation: fadeInTop 3s ease forwards;
    box-shadow: 0px 0px 2px rgba(2, 5, 16, 0.2);
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-20px); /* Start from above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* End at the final position */
    }
}



#image1 {
    border-radius: 0.625rem; /* 10px */
    height: 12.5rem; /* 20vh converted */
}

#image1 img {
    width: 30rem; /* Keep consistent */
    height: 15rem; /* Maintain the aspect ratio */
    border-radius: 0.625rem;
    object-fit: cover;
}

#text, .seedetails {
    margin: 0 1.25rem;
}
#text{
    margin-top:1em;
}

#text h2 {
    font-size: 1.5rem;
    color: #E7F0FF;
}

#text p {
    font-size: 0.875rem;
    margin-top: 1rem;
    color: #A9B9D3;
}

.seedetails {
    margin-bottom: 2rem;
}
.seedetails:hover{
    scale:1.01;
}

.seedetails img {
    width: 100%;
}
.seedetails img:hover{
    cursor: pointer;
}

.details{
    position: fixed;
    right:0;
    top:0;
    margin-right:2em;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 2fr 1fr;
    background: linear-gradient(to bottom, #1C1E22 100%, #1B2029 100%);
    border: 2px solid #5973F3;
    border-radius: 1em;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.6);
    width:50rem;
    height:95%;
    z-index:10000;
    margin-top: 1.5em;
}
.details img{
    margin:2em 3em  1em 0;
    width:15em;
    justify-self: end;
    
}
.details h1{
    margin: 1.5em 1.5em 0;
    color:#E7F0FF;
    font-size: 2rem;
}
.details h3{
    margin: .25em 3.15em 0;
    font-size: 1em;
    grid-column: 1/span 2;
    color:#5973F3;
    
}
.details h2{
    margin: .25em 4.1em 0;
    font-size: .75em;
    color:#5973F3;
}
.details p{
    margin: .25em 2.5em 0;
    font-size: 1.25em;
    grid-column: 1/span 2;
    color:#A9B9D3;
}
.details .gitbtn{
    width:1em;
    justify-self: left;
    margin-left:3.25em;
}
/* Media Queries */

@media (max-width: 1200px) {
    html {
        font-size: 1.25rem; /* Increase base font size */
        margin-left: 0;
    }
    nav {
        gap: 2rem;
        padding: 0 1vw;
        text-align: left;
        align-items: flex-end;
        z-index:10;
    }
    #logo, .dropbtn{
        z-index: 12;
    }
    .dropbtn img{
        display:block;
    }
    .dropdown-content{
        position: absolute;
        animation: fadeInTop 1s ease forwards;
        box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.2);
        z-index: 1;
        top: 0%;
        right: 0;
        min-width:100%;
        background-color: #333; /* Dropdown background color */
        width: 200px; /* Adjust as needed */
        
    }

    /* Adjust dropdown-content for small screens */
   
   
    .d-links a{
        margin:8vh 6vw;
        font-size:5vw;
        font-weight: 800;
        color:#E7F0FF;
        width:auto;
    }
    .d-links a:hover::after{
        content: '';
        position:absolute;
        background-color: #5973F3;
        top:50%;
        left:0%
    }
    .d-socials{
        margin:8vh 6vw 2.5vh;
        align-content:flex-end;
        display:flex;
        flex-direction: row;
    }
    .d-socials a img{
        height:2vh;
      
    }
    
    
    #nav-links, #socials {
        display: none;
    }
}

